//importing custom fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



// importing tailwind components
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header .header_nav_menu {
    display: flex;
    margin: auto;
}

.menu-item {
    margin: auto;
}

header .header_nav_menu li a {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: .15em;
    color: #ffffff;
    margin-right: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.header__navigation {
    display: flex;
      justify-content: center;
  align-items: center;
}

.business_listings {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: .15em;
    color: #ffffff;
    margin-right: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.header__navigation__link--expanding {
    margin-top: 6px;
}

.header-drop-down {
    display: flex;
    justify-content: center;
}

.menu-business-listings-container {
    display: flex;
    justify-content: space-between;
}

#menu-business-listings {
    width: 100%;
    display: flex;
    justify-content: center;
}

.business_listing_menu li a {
  font-family: 'Source Serif Pro', 'Times New Roman', serif;
  font-size: 1.125rem;
  color: #ffffff;
  letter-spacing: -.02em;
  padding-right: 3rem;
  text-decoration: none;
  position: relative;
}

.menu-business-listings-container {
    display:flex;
    width: 100%;
    justify-content: center;
}

.business_listing_menu li a::after {
  content: url("../img/circled-arrow.svg");
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.acf-paragraph p{
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: .875rem;
  line-height: 2.14;
  color: #E8E8E7;
  margin-bottom: 3rem;
}

.featured_hotel__paragraph p {
    font-size: 13px;
}

.blog-article {
    margin: 0 auto;
}

.rental-article {
    margin: 0 auto;
}

.service-article {
    margin: 0 auto;
}

.black-background-preview {
    height: 618px;
}

.category__select {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  letter-spacing: .15em;
  color: #ffffff;
  background: #181818;
  text-transform: uppercase;
  padding: 8px;
  border-bottom: 1px solid #3D3B3A;
  margin-left: 8px;
  position: relative;
  cursor: pointer;
}

.hotel__select {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  letter-spacing: .15em;
  color: #3D3B3A;
  text-transform: uppercase;
  padding: 8px;
  border-bottom: 1px solid #3D3B3A;
  margin-left: 8px;
  position: relative;
  cursor: pointer;
}

.filter-selectors__filter
.filter-selectors__filter--light {
    margin: 0px !important;
}

.social-links__link {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #F2F0F0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: fill, background-color 0.5s ease;
  fill: #393533;
  margin-right: 24px;
}

.social-links__link:last-of-type {
  margin-right: 0;
}

.social-links__link:hover {
  background-color: #E9E0DE;
}

.gallery__thumbnail {
  width: 756px;
  height: 484px;
}

.gallery__gallery img{
  width: 350px;
  height: 234px;
}

.galllery_thumbnail img{
  height: 540px;
}

@media (max-width: 767px) {                  
   .gallery__gallery {
      display: none;
   }
}

.header_nav_menu_white {
  display: flex;
  justify-content: center;
}

.header_nav_menu_white li{
  margin-right: 49px;
}

.menu-item {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: .15em;
  color: black;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.business_listings {
  padding-top: 0px;
  margin-top: 0px !important;
}

.ask__advice {
  width: 148px;
  height: 48px;
  left: 1228px;
  top: 32px;
  background: #FFFFFF;
}

.ask_advice__text {
  margin-top: 18px;
}

.ask__advice__black {
  width: 148px;
  height: 48px;
  left: 1228px;
  top: 32px;
  background: #2A2A2A;
}

.ask__advice__black p {
  margin-top: 18px;
}

.header__navigation__link {
  margin-top: 0px !important;
}

.header_nav_menu_white li{
  text-transform: uppercase;
}



.advertisement__image img{
  width: 816px;
  height: 318px;
  margin: auto;
}

.explore-all {
  margin-left: 125px;
}

.category__select {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  color: #FAF6F5;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: .5rem 0;
  cursor: pointer;
}

.fixed-btn{
  position: fixed;
  width: 98px;
  height: 48px;
  bottom: 10%;
  right: 10%;

  background: #E1653E;
  border-radius: 40px;
}

.fixed-btn h4 {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.15em;
  color: #FFFFFF;
  text-align: center;
  margin-top: 16px;

}

.advertisement__picture {
  margin-bottom: 187px;
}

.service-block__services__item::after {
  content:', ';
}

.service-block__services__item:last-of-type::after {
  content:'';
}
