header .header_nav_menu {
    display: flex;
    margin: auto;
}

.menu-item {
    margin: auto;
}

header .header_nav_menu li a {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: .15em;
    color: #ffffff;
    margin-right: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.header__navigation {
    display: flex;
}

.business_listings {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: .15em;
    color: #ffffff;
    margin-right: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.header__navigation__link--expanding {
    margin-top: 6px;
}

.header-drop-down {
    display: flex;
    justify-content: center;
}

.menu-business-listings-container {
    display: flex;
    justify-content: space-between;
}

#menu-business-listings {
    width: 100%;
    display: flex;
    justify-content: center;
}

.business_listing_menu li a {
  font-family: 'Source Serif Pro', 'Times New Roman', serif;
  font-size: 1.125rem;
  color: #ffffff;
  letter-spacing: -.02em;
  padding-right: 3rem;
  text-decoration: none;
  position: relative;
}

.menu-business-listings-container {
    display:flex;
    width: 100%;
    justify-content: center;
}

.business_listing_menu li a::after {
  content: url("../img/circled-arrow.svg");
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

